<%= erb :header %>

<%= erb :nav %>

<h1>User Settings</h1>

<form method="POST" action="/settings">
    <label>Text Color</label><input name="color"><br>
    <label>Background Color</label><input name="background-color"><br>
    <input type="submit">
</form>
