<!DOCTYPE html>

<style>
body {
  color: yellow;
  background-color: #333444;
}
</style>

<h1>Welcome <%= session[:name] %></h1>

<div>
  <form method="POST" action="/">
    <input name="name"><br>
    <input type=submit>
  </form>
</div>
