<%= erb :header %>

<h1>Users</h1>
<ul>
    <% @users.each do |user| %>
        <form method="POST" action="delete-user/<%= user.email %>">
            <li>Email: <%= user.email %></li><input type="submit" value="delete">
        </form>
    <% end %>
</ul>

<% erb :footer %>
