<% unless @article.comments.empty? %>
  <h2>Comments</h2>
  <p>Comment count: <%= Comment.public_count %>
<% end %>

<% @article.comments.each do |comment| %>
  <% unless comment.archived? %>
    <p><strong>Commenter:</strong> <%= comment.commenter %></p>
    <p><strong>Comment: </strong><em><%= comment.body %></em></p>
    <p><%= link_to 'Delete', article_comment_path(comment.article, comment), method: :delete, data: { confirm: "Really delete #{comment.commenter}'s comment?" } %></p>
  <% end %>
<% end %>
